@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Julius+Sans+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:wght@100..900&family=Julius+Sans+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Junge&display=swap");

.result {
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Inter';
    margin-left: 5%;
}

body {
    background-color: #403924;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}


.lista-de-produtos {
    background-color: #9e9e9edd;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Inter';
    font-size: 19px;
}

.container-produtos{
    height: 45vh;
    display: grid;
    grid-template-columns: 35% 65%;
    background-color: #DDDD;
    margin-bottom: 2%;
    border-radius: 50px;
    width: 98%;
    justify-self: center;
}

.container-cep{
    height: 45vh;
    display: grid;
    grid-template-columns: 35% 65%;
    background-color: #DDDD;
    border-radius: 50px;
    width: 98%;
    justify-self: center;
}

#result{
    background-color: #9e9e9edd;
    padding: 10px;
    border-radius: 15px;
    margin-right: 5%;

}

.parteEsquerdaCep{
    display: grid;
    grid-template-rows:10% 40% 25% 25%;
}

.inserir-cep{
    display: grid;
}

#cepForm{
    display: grid;
}

#cep{
    width: 65%;
    height: 60%;
    border-radius: 40px;
    align-self: center;
    justify-self: center;
    border: none;
    background-color: #e8e8e8dd;
}

.cep-nome{
    display: none;
}


#buscar{
    width: 40%;
    height: 50%;
    border: none;
    border-radius: 20px;
    justify-self: center;
    background-color: #e8e8e8dd;
    font-size: 120%;
}

.digite-cep{
    margin: 0;
    align-self: center;
    justify-self: center;
    flex-wrap: wrap;
    font-family: 'Julius Sans One';
}

.produtos-titulo{
    font-family: 'Julius Sans one';
    align-self: flex-end;
}

.parteEsquerda{
    display: grid;
    grid-template-rows: 50% 50%;
    justify-content: center;
}

.parteEsquerda p{
    margin: 0;
}

.container-geral{
    display: grid;
}