
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Julius+Sans+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

*{
    margin: 0;
    padding: 0;
}

.container-footer{
    height: 40vh;
    background-color: #403924 ;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 2.5% 40% 27.5% 27.5% 2.5%;
}

.titulo-contatos-footer{
    grid-column: 2;
    align-self: flex-end;
    justify-self: center;
    color: aliceblue;
    font-family: 'Julius Sans One';
    font-size: 170%;
}

.container-contatos-footer{
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-rows: 20% 3.3% 20% 3.3% 20% 3.3% 20%;
    grid-template-columns: 100%;
}

.container-contatos-footer p{
    align-self: center;
    justify-self: center;
    color: #D9D9D9;
    font-family: 'Julius Sans One';
}

.linha-1-footer{
    display: grid;
    grid-template-columns: 5% 10% 85%;
}

.linha-2-footer{
    grid-row: 3;
    display: grid;
    grid-template-columns: 5% 15% 80%;
}

.linha-3-footer{
    grid-row: 5;
    display: grid;
    grid-template-columns: 5% 15% 80%;
}

.linha-4-footer{
    grid-row: 7;
    display: grid;
    grid-template-columns: 5% 17.5% 77.5%;
}

.barra-branca-1, .barra-branca-2, .barra-branca-3, .barra-branca-4{
    background-color: #D9D9D9;
    height: 50%;
    align-self: center;
    width: 95%;
    justify-self: start;
}

.container-logo-vivi-footer{
    grid-row: 2;
    grid-column: 3;
    display: grid;
    grid-template-columns: 1% 98% 1%;
    grid-template-rows: 100%;
}

.barra-branca-vertical-footer{
    height: 100%;
    width: 2px;
    background-color: #D9D9D9;
}

.logo-footer{
    align-self: center;
    justify-self: center;
    padding-right: 50px;
}

.logo-wexify-footer{
    grid-row: 2;
    grid-column: 4;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 5% 90% 5%;
}

.logo-wexify-footer img{
    grid-row: 2;
    grid-column: 2;
    border-radius: 20px;
}