@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Julius+Sans+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:wght@100..900&family=Julius+Sans+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body{
  background-image: linear-gradient(to bottom right, #D9CDB8, #b3a387);
}


.navbar {
    display: grid;
    background-color: #403924;
    height: 17vh;
    grid-template-columns: 5% 25% 5% 5% 15% 15% 15% 15% 5%;
    grid-template-rows: 10% 80% 10%;
    font-family: 'Inter';
    font-size: 18px;
}

#nav1 {
    grid-column: 2;
    grid-row: 2;
}

#logo {
    height: 120%;
}

#nav2 {
    grid-column: 5;
    grid-row: 2;
    color: white;
    text-decoration: none;
    align-content: center;
}

#nav2:hover{
    opacity: 75%;
}

#nav3 {
    grid-column: 6;
    grid-row: 2;
    color: white;
    text-decoration: none;
    align-content: center;
}

#nav3:hover{
    opacity: 75%;
}

#nav4 {
    grid-column: 7;
    grid-row: 2;
    color: white;
    text-decoration: none;
    align-content: center;
}

#nav4:hover{
    opacity: 75%;
}

#nav5 {
    grid-column: 8;
    grid-row: 2;
    color: white;
    text-decoration: none;
    align-content: center;
}

#nav5:hover{
    opacity: 75%;
}


.container1 {
  height: 100vh;
  display: grid;
  grid-template-columns: 5% 40% 2.5% 10% 2.5% 35% 5%;
  grid-template-rows: 10% 72.5% 5% 10% 2.5%;
}


.fotoPrincipal {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-rows: 5% 90% 5%;
  background-image: url("../IMG/velas2.JPG");
  background-size: cover;
  border: 2px solid #4039247c;
  transition: opacity 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.fotoPrincipal:hover{
  opacity: 80%;
}


.seletorFotos {
  display: flex;
  grid-row: 4;
  grid-column: 2;
  grid-template-columns: 20% 20% 20% 20% 20%;
  column-gap: 1%;
  justify-content: center;
  height: 85%;
}

.seletorFotos img{
    border: 1px solid #4039247c ;
    transition: opacity 0.5s ease;
}

.seletorFotos img:hover{
  opacity: 50%;
}

.fotoBarra1{
    background-color: unset;
    border: none;
}
.fotoBarra2{
    background-color: unset;
    border: none;
}
.fotoBarra3{
    background-color: unset;
    border: none;
}
.fotoBarra4{
    background-color: unset;
    border: none;
}
.fotoBarra5{
    background-color: unset;
    border: none;
}


.btn1 {
  grid-column: 4;
  grid-row: 2;
  display: grid;
  grid-template-columns: 12.5% 7.5% 7.5% 5% 25% 5% 7.5% 7.5% 12.5%;
  grid-template-rows: 100%;
}

.btn1 .btnComprar {
  grid-column-start: 3;
  grid-column-end: 9;
}

.btnComprar a {
  align-self: center;
  font-size: 175%;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Julius Sans One";
}

.btnComprar {
  display: grid;
  border: 0px solid;
  grid-template-rows: 10% 11.4% 11.4% 11.4% 11.4% 11.4% 11.4% 11.4% 10%;
  background-color: #403924;
  border-radius: 2.5px;
  cursor: pointer;
  transition: background .2s ease;
}

.btnComprar:hover{
  background-color: #1b180f;
}

/* AQUI EM CIMA É A PARTE QUE FAZ O BOTAO DE COMPRA TER O CURSOR DE CLIQUE */

.letra1 {
  grid-row: 2;
}
.letra2 {
  grid-row: 3;
}
.letra3 {
  grid-row: 4;
}
.letra4 {
  grid-row: 5;
}
.letra5 {
  grid-row: 6;
}
.letra6 {
  grid-row: 7;
}
.letra7 {
  grid-row: 8;
}

.containerItens {
  grid-row: 4;
  grid-column: 4;
  display: grid;
  grid-template-columns: 27.5% 45% 27.5%;
  grid-template-rows: 100%;
}

.caixaQuantidadeItens {
  grid-column-start: 2;
  display: grid;
  grid-template-rows: 25% 50% 25%;
  border: 1px solid #403924;
  background: white;
}

.quantidadeItens {
  align-self: center;
  justify-self: center;
  font-size: 175%;
}

.adicionarQuantidade {
  font-size: 130%;
  border: none;
  background-color: #403924;
  color: white;
}

.subtrairQuantidade {
  font-size: 130%;
  border: none;
  background-color: #403924;
  color: white;
}


.divBtnAdicionarCarrinho {
  grid-row: 5;
  grid-column-start: 1;
  grid-column-end: 5;
  display: grid;
  grid-template-columns: 85% 15%;
  margin-top: 2%;
}

.botaoAdicionarCarrinho {
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  border: none;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  background-color: #403924;
  color: white;
  cursor: pointer;
  transition: all .2s ease;
}

.botaoAdicionarCarrinho:hover{
  background-color: #1b180f;
}

.botaoAdicionarCarrinho p {
  align-self: center;
  font-family: "Julius Sans One";
  font-size: 175%;
  grid-column: 2;
}

.botaoAdicionarCarrinho img {
  align-self: center;
  justify-self: left;
  grid-column: 3;
  background-color: white;
  padding: 10%;
  border-radius: 10px;
  transition: background-color .5s ease;
}

.botaoAdicionarCarrinho img:hover{
  background-color: #cecece;
}



.containerInformacaoProduto {
  grid-row: 2;
  grid-column: 6;
  display: grid;
  grid-template-rows: 10% 10% 10% 55% 15%;
  grid-template-columns: 40% 20% 20% 20%;
  column-gap: 1%;
}

.preco {
  display: grid;
  grid-template-rows: 30% 40% 30%;
  grid-row: 2;
  width: 95%;
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
  transition: background-color .5s ease;
}

.preco:hover{
  background-color: #cecece;
}

.preco p {
  grid-row: 2;
  align-self: center;
  justify-self: center;
  font-size: 250%;
  font-family: "inter";
}

.categoria,
.categoria2,
.categoria3 {
  justify-self: center;
  align-self: center;
}



.categoria1 {
  grid-row: 2;
  height: 100%;
  width: 100%;
  display: grid;
}

.categoria1 button {
  align-self: center;
  justify-self: center;
  height: 70%;
  width: 100%;
  background-color: #E8E8E8;
  color: #403924;
  font-family: 'Inter';
  border: 2px solid #403924;
  font-family: 'Inter';
  border: none;
  transition: background-color .2s ease;
}


.categoria1 button:hover{
  background-color: #cecece;
}

.categoria1 button:focus{
  background-color: #403924;
  color: #E8E8E8;
}


.categoria2 {
  grid-row: 2;
  height: 70%;
  width: 100%;
  display: grid;
}



.categoria2 button {
  background-color: rgb(220, 220, 220);
  align-self: center;
  justify-self: center;
  height: 100%;
  width: 100%;
  background-color: #E8E8E8;
  color: #403924;
  font-family: 'Inter';
  border: none;
  transition: background-color 0.2s ease;
}
.categoria2 button:hover{
  background-color: #cecece;
}

.categoria2 button:focus{
  background-color: #403924;
  color: #E8E8E8;
}


.categoria3 {
  grid-row: 2;
  height: 70%;
  width: 100%;
  display: grid;
}

.categoria3 button {
  background-color: rgb(170, 170, 170);
  align-self: center;
  justify-self: center;
  height: 100%;
  width: 100%;
  background-color: #E8E8E8;
  color: #403924;
  font-family: 'Inter';
  border: none;
  transition: background-color 0.2s ease;
}

.categoria3 button:hover{
  background-color: #cecece;
}

.categoria3 button:focus{
  background-color: #403924;
  color: #E8E8E8;
}

.categoria1 button,
.categoria2 button,
.categoria3 button{
    font-size: 130%;
    border-radius: 5px;
}

.caixaDescricao {
  grid-column-start: 1;
  grid-column-end: 5;
  border: 2px solid rgba(54, 22, 22, 0.781);
  border-radius: 20px;
  display: grid;
  grid-template-rows: 20% 80%;
  grid-row: 4;
  background-color: rgb(237, 237, 237);
}

.nomeDescricao {
  align-self: center;
  padding-left: 5%;
  font-size: 150%;
  font-family: 'Julius Sans One';
  text-decoration: underline 1px;
}

.descricao {
  padding: 0% 5% 5% 5%;
  font-size: 120%;
}


.descricao {
  font-family: "inter";
}

.cep-container {
  position: relative;
  grid-row: 4;
  grid-column: 6;

  display: grid;

  grid-template-columns: 80% 20%;
}
.cep-input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 150%;
  border-radius: 20px 0px 0px 20px;
}
.cep-input:focus{
  border: none;
}

.enviar {
  background-color: white;
  font-size: 125%;
  text-decoration: underline;
  cursor: pointer;
  border: none;
  cursor: initial;
  border-radius: 0px 20px 20px 0px;
}

.divNaoSeiMeuCep {
  grid-row: 3;
  grid-column: 6;
  display: grid;
  grid-template-columns: 75% 25%;
}

.botaoNaoSeiMeuCep {
  grid-column: 2;
  height: 50%;
  font-size: 100%;
  align-self: flex-end;
  border: none;
  background-color: unset;
  text-decoration: underline;
}

.espacamento-entre-containers-1{
    height: 12vh;
    display: grid;
    grid-template-columns: 1% 98% 1%;
  }

  .barra-marrom-separacao{
    display: grid;
    grid-template-columns: 1% 10% 78% 10% 1%; 
  }

  .barra-marrom{
    grid-column: 3;
    height: 2px;
    background-color: #403924;
  }




  .container-card-2{
      height: 50vh;
  }
  
  .base-card-2{
      display: grid;
      grid-template-columns: 2.5% 17% 5.5% 72% 6.5%;
      grid-template-rows: 100%;
      height: 35vh;
  }
  
  .container-foto-card-2{
      grid-column: 2;
  }
  
  .container-fotos-card-2{
      grid-column: 2;
      display: grid;
      grid-template-rows: 80% 20%;
      border: 2px solid;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      transition: opacity 1s ease;
  }
  
  .container-fotos-card-2 img{
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
  }

  .container-fotos-card-2:hover{
    opacity: 90%;
  }
  
  .fundo-preco-card-2{
      display: grid;
      align-content: center;
      justify-content: center;
      background-color: #403924;
  }
  
  .fundo-preco-card-2 p{
      font-size: 150%;
      color: #E8E8E8;
  }
  
  .container-direito-card-2{
      grid-column: 4;
      display: grid;
      grid-template-columns: 10%;
      border: 2px solid;
      border-radius: 20px;
      display: grid;
      grid-template-columns: 2% 10% 2.5% 12.5% 5% 66% 2%;
      grid-template-rows: 100%;
      background-color: #403924;
  }
  
  .btn-geral-comprar-card-semelhante-1{
      grid-row: 2;
      grid-column: 2;
      display: grid;
      grid-template-rows: 10% 11.42% 11.42% 11.42% 11.42% 11.42% 11.42% 11.42% 10%;
      height: 100%;
      border: none;
      font-family: 'Julius Sans One';
      font-size: 75%;
      font-weight: bold;
      cursor: pointer;
      border-radius: 10px;
  }
  
  .botao-comprar-card-semelhante-1{
      grid-column: 2;
      display: grid;
  }
  
  .btnComprar{
    border-radius: 10px;
  }

  
  .btn-comprar-card-semelhante-1 {
      display: grid;
      grid-template-columns: 20% 60% 20%;
      grid-template-rows: 5% 90% 5%;
      background-color: #403924;
    }

    .btn-comprar-card-semelhante-1 a{
      background-color: #E8E8E8;
      transition: background-color 0.5s ease;
    }

    .btn-comprar-card-semelhante-1 a:hover{
      background-color: #bebebe;
    }
    
    .letra1-card-semelhante-1 {
      grid-row: 2;
    }
    
    .letra2-card-semelhante-1 {
      grid-row: 3;
    }
    
    .letra3-card-semelhante-1 {
      grid-row: 4;
    }
    
    .letra4-card-semelhante-1 {
      grid-row: 5;
    }
    
    .letra5-card-semelhante-1 {
      grid-row: 6;
    }
    
    .letra6-card-semelhante-1 {
      grid-row: 7;
    }
    
    .letra7-card-semelhante-1 {
      grid-row: 8;
    }
    
    .letra1-card-semelhante-1, .letra2-card-semelhante-1, .letra3-card-semelhante-1, .letra4-card-semelhante-1, .letra5-card-semelhante-1, .letra6-card-semelhante-1, .letra7-card-semelhante-1 {
      align-self: center;
      color:  #403924;
      justify-self: center;
    }
    
  
    .container-categorias-botao-card-semelhante-1{
      grid-column: 4;
      display: grid;
      grid-template-rows: 65% 35%;
      grid-template-columns: 100%;
      background-color: #403924;
    }
  
    .categorias-botao-card-semelhante-1{
      display: grid;
      grid-template-rows: 20% 20% 10% 20% 10% 20% ;
    }
  
    .categoria-1-card-semelhante-1{
      grid-row: 2;
    }
  
    .categoria-1-card-semelhante-1 button{
      height: 100%;
      width: 100%;
      border-radius: 5px;
      border: 2px solid #E8E8E8;
      color: #E8E8E8;
      background-color: #403924;
      transition: all 0.5s ease;
    }

    .categoria-1-card-semelhante-1 button:focus{
      background-color: #E8E8E8;
      color: #403924;
    }


  
    .categoria-2-card-semelhante-1{
      grid-row: 4;
    }
  
    .categoria-2-card-semelhante-1 button{
      height: 100%;
      width: 100%;
      border-radius: 5px;
      border: 2px solid #E8E8E8;
      background-color: #403924;
      color: #E8E8E8;
      transition: all 0.5s ease;
    }
  
    .categoria-2-card-semelhante-1 button:focus{
      background-color: #E8E8E8;
      color: #403924;
    }

    .categoria-3-card-semelhante-1{
      grid-row: 6;
    }
  
    .categoria-3-card-semelhante-1 button{
      height: 100%;
      width: 100%;
      border-radius: 5px;
      border: 2px solid #E8E8E8;
      background-color: #403924;
      color: #E8E8E8;
      transition: all 0.5s ease;
    }
    
    .categoria-3-card-semelhante-1 button:focus{
      background-color: #E8E8E8;
      color: #403924;
    }
  
    .botao-carrinho-card-semelhante-1{
      grid-row: 2;
      display: grid;
      grid-template-columns: 10% 80% 10%;
      grid-template-rows: 10% 80% 10%;
    }
  
    .container-btn-adicionar-carrinho-card-1 {
    
  
      display: grid;
      grid-template-columns: 20% 60% 20%;
      grid-template-rows: 10% 70% 10%;
      background-color: #403924;
    }
  
    .div-botao-carrinho-card-1 {
      grid-column: 2;
      grid-row: 2;
      display: grid;
      grid-template-columns: 25% 50% 25%;
      grid-template-rows: 25% 50% 25%;
      background-color: #E8E8E8;
      border-radius: 15px;
    }
    
    .btn-adicionar-carrinho-card-1 {
      grid-row: 2;
      grid-column: 2;
      border-radius: 15px;
      background-color: #403924;
      border: 0px solid;
    }
    
  
  
    .container-descricao-produto-card-semelhante-1{
      grid-column: 6;
      border: 2px solid #403924;
      display: grid;
      grid-template-rows: 10% 70% 10%;
      grid-template-columns: 100%;
      background-color: #403924;
      align-content: center;
    }
  
    .subcontainer-card-semelhante-1{
      grid-row: 2;
      display: grid;
      grid-template-rows: 10% 20% 50% 20%;
      grid-template-columns: 5% 90% 5%;
      background-color: #E8E8E8;
      border-radius: 20px;
    }
  
    .titulo-subcontainer-card-semelhante-1{
      grid-row: 2;
      grid-column: 2;
      padding-left: 20px;
      align-self: center;
      font-family: 'Julius Sans One';
    }
  
    .subsubcontainer-card-semelhante-1{
      grid-row: 3;
      grid-column: 2;
      background-color: #403924;
      display: grid;
      grid-template-columns: 5% 90% 5%;
      border-radius: 20px;
    }
  
    .descricao-card-semelhante-1{
      align-self: center;
      justify-self: center;
      color: #E8E8E8;
      font-size: 80%;
      grid-column: 2;
      font-family: 'Inter';
    }

    
.opinioes {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 12.5% 22.3% 4% 22.3% 4% 22.3% 12.5%;
    grid-template-rows: 10vh 60vh 10vh;
    text-decoration: none;
    grid-template-areas: 
        ""
    ;
}

#caixa1 {
    background-color: #403924;
    grid-column: 2;
    grid-row: 2;
    border-radius: 20px;
    text-decoration: none;
}
#caixa2 {
    background-color: #403924;
    grid-column: 4;
    grid-row: 2;
    border-radius: 20px;
    text-decoration: none;
}
#caixa3 {
    background-color: #403924;
    grid-column: 6;
    grid-row: 2;
    border-radius: 20px;
    text-decoration: none;
}

.foto-opiniao {
    margin-left: 5%;
}

#icone-opiniao {
    background-color: white;
    border-radius: 50%;
    width: 25%;
    height: 10vh;
    margin-top: 10%;
}

.nome-opiniao {
    color:#292417;
    font-size: 10px;
    width: 150%;
    height: 4vh;
    background-color: #d9cdb8;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    margin-top: 41%;
    margin-left: 230%;
}

.nome-opiniao p{
    color: #403924;
    font-size: 160%;
    font-family: 'Inter';
}

.texto-opiniao {
    background-color: #d9cdb8;
    margin-left: 5%;
    margin-right: 5%;
   margin-top: 8%;
   height: 35vh;
   border-radius: 20px;
   border-top: 35px solid #d9cdb8
}

#header-opiniao {
    text-decoration: none;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
    color: #403924;
    font-family: 'Julius Sans One';
}

#linha-opiniao {
    color: #403924;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 20%;
}

#p-opiniao {
    
    margin-top: 3vh;
    margin-left: 5%;
    margin-right: 5%;
    color: #292417;
    text-decoration: none;
    font-family: 'Inter';
}

.voltar-topo-fim{
    grid-row: 3;
    grid-column: 4;
    height: 50%;
    width: 50%;
    align-self: center;
    justify-self: center;
    background-color: #403924;
    color: #E8E8E8;
    font-size: 110%;
    font-family: 'Julius Sans One';
    border-radius: 20px;
    border: none;
    display: grid;
}


/* INICIO FOOTER */


.container-footer{
    height: 35vh;
    background-color: #403924 ;
    display: grid;
    grid-template-rows: 20% 70% 10%;
    grid-template-columns: 2.5% 40% 27.5% 27.5% 2.5%;
  }
  
  .titulo-contatos-footer{
    grid-column: 2;
    align-self: flex-end;
    justify-self: center;
    color: aliceblue;
    font-family: 'Julius Sans One';
    font-size: 170%;
  }
  
  .container-contatos-footer{
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-rows: 20% 3.3% 20% 3.3% 20% 3.3% 20%;
    grid-template-columns: 100%;
  }
  
  .container-contatos-footer p{
    align-self: center;
    justify-self: center;
    color: #D9D9D9;
    font-family: 'Julius Sans One';
  }
  
  .linha-1-footer{
    display: grid;
    grid-template-columns: 5% 10% 85%;
  }
  
  .linha-2-footer{
    grid-row: 3;
    display: grid;
    grid-template-columns: 5% 15% 80%;
  }
  
  .linha-3-footer{
    grid-row: 5;
    display: grid;
    grid-template-columns: 5% 15% 80%;
  }
  
  .linha-4-footer{
    grid-row: 7;
    display: grid;
    grid-template-columns: 5% 17.5% 77.5%;
  }
  
  .barra-branca-1, .barra-branca-2, .barra-branca-3, .barra-branca-4{
    background-color: #D9D9D9;
    height: 50%;
    align-self: center;
    width: 95%;
    justify-self: start;
  }
  
  .container-logo-vivi-footer{
    grid-row: 2;
    grid-column: 3;
    display: grid;
    grid-template-columns: 1% 98% 1%;
    grid-template-rows: 100%;
  }
  
  .barra-branca-vertical-footer{
    height: 100%;
    width: 2px;
    background-color: #D9D9D9;
  }
  
  .logo-footer{
    align-self: center;
    justify-self: center;
    padding-right: 50px;
  }
  
  .logo-wexify-footer{
    grid-row: 2;
    grid-column: 4;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 15% 70% 15%;
  }
  
  .logo-wexify-footer img{
    grid-row: 2;
    grid-column: 2;
    border-radius: 20px;
  }
  
  /* FIM FOOTER */
  

  .voltar-topo-btn{
    align-self: center;
    justify-self: center;
    font-family: 'Julius Sans One';
    color: #E8E8E8;
  }