@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Julius+Sans+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:wght@100..900&family=Julius+Sans+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Junge&display=swap");


*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    line-height: 1.5;
  background-image: linear-gradient(to bottom right, #d9cdb8, #ac9a7b, #857458)
}

a:focus {
  outline: none; /* Remove o contorno ao focar no link */
}

#botao-comprar-principal{
  writing-mode: vertical-rl; /* Texto vertical da direita para a esquerda */
  text-align: center; /* Centraliza o texto dentro do botão */
  white-space: nowrap; /* Evita que o texto quebre em várias linhas */
  width: 85%; /* Largura suficiente para acomodar o texto vertical */
  padding: 0px; /* Ajuste conforme necessário */
  writing-mode: initial;
  text-orientation: upright;
  font-size: 120%;
  font-family: 'Julius Sans One';
  justify-self: center;
}

.btn-conheca-mais{
  display: grid;
}

.btn-conheca-mais button{
  align-self: center;
  justify-self: center;
  padding: 20px;
  font-size: 150%;
  font-family: 'Inter';
  border-radius:50px;
  border: 1px solid #403924;
  background: none;
  transition: background 1s ease;
}

.btn-conheca-mais button:hover{
  background: #40392434;
  
}

.btn-conheca-mais button a{
  text-decoration: none;
  color: #403924;
}


.espaco-navbar{
  height: 15vh;
}

/* PRODUTO PRINCIPAL */
.card-wrapper{
    max-width: 1400px;
    margin: 0 auto;
}


.product-imgs img, .product-content img {
    width: 100%;
    display: block;
}


#contador{
    justify-self: center;
    width: 60px;
}

.btn{
    border-radius: 10px;
}

.btn-carrinho-principal{
    display: grid;
}


.botao-comprar-principal{
    margin: 100px; 
    display: grid;
}




.img-display{
    overflow: hidden;
    transition: opacity 1.1s ease;
}

.img-display:hover{
  opacity: 70%;
}


.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
    transition: opacity 0.5s ease;
}






.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}

.espacamentoEntreElementos{
    height: 3vh;
}

.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #221e13;
    margin: 1rem 0;
}


.product-title2{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #221e13;
    margin: 1rem 0;
    margin-bottom: 70px;
}

.product-title2::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 200px;
    background: #403924;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #403924;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}

.product-detail{
    border: 1px solid;
    border-radius: 24px;
    padding: 20px;
    background-color: transparent;
}

.product-detail h2{
    text-transform: capitalize;
    color: #262214;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.purchase-info{
    margin: 1.5rem 0;
    display: grid;
    grid-template-rows:  55% 15% 10% 20%;
    margin: 20px;
}
.purchase-info input,
.purchase-info .btn{
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
    border: none;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #47412d;
    grid-row: 2;
}
.purchase-info .btn:first-of-type, .purchase-info .btn:last-of-type{
    background: #47412d;
    transition: background-color 0.5s ease;
    transition: transform 0.7s ease;
    
}


.btn:hover {
  background-color:#403924bd ;
  transform: translateY(-3px);
}

.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 32px;
    color: #47412d;
    border: 1px solid #47412d;
    margin: 0 0.5rem;
    border-radius: 10px;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #47412d;
    border-color: transparent;
    color: antiquewhite;
}

.social-links a:focus{
  background-color: #403924;
  border: none;
  color: antiquewhite;
}

#botao-comprar-principal{
    writing-mode: vertical-rl; /* Texto vertical da direita para a esquerda */
    text-align: center; /* Centraliza o texto dentro do botão */
    white-space: nowrap; /* Evita que o texto quebre em várias linhas */
    width: 85%; /* Largura suficiente para acomodar o texto vertical */
    padding: 0px; /* Ajuste conforme necessário */
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 120%;
    font-family: 'Julius Sans One';
    justify-self: center;
  }



  @media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: 40% 10% 40%;
        grid-gap: 1.5rem;
    }

    .img-item img{
      width: 33%;
    }
    .card-wrapper{
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }

    
}

@media screen and (max-width: 992px){
#botao-comprar-principal{
  writing-mode: vertical-rl; /* Texto vertical da direita para a esquerda */
  text-align: center; /* Centraliza o texto dentro do botão */
  white-space: nowrap; /* Evita que o texto quebre em várias linhas */
  width: 85%; /* Largura suficiente para acomodar o texto vertical */
  padding: 0px; /* Ajuste conforme necessário */
  writing-mode: initial;
  text-orientation: upright;
  font-size: 120%;
  font-family: 'Julius Sans One';
  justify-self: center;
}
}
/* FIM PRODUTO PRINCIPAL */



    .espacamento-medio{
      height: 25vh;
    }

    .espacamento-medio-e{
      height: 25vh;
      background-color: #403924;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      transition: background-color 2s ease;
    }

    .espacamento-medio-e:hover{
      background-color: #1a170e;
    }

    .espacamento-medio-e button{
      height: 22%;
      width: 15%;
      border-radius: 25px;
      border: none;
      font-family: 'Inter';
      font-size: 140%;
      background: none;
      border: 1px solid white;
      color: white;
      transition: background 1.1s ease;
    }

    .espacamento-medio-e button:hover{
      background-color:#21271b ;
    }

    .espacamento-medio-e button a{
      text-decoration: none;
      color: white;
    }

    .espacamento-medio-e2{
  height: 25vh;
  background-color: #221d0e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 2s ease;
}
    .espacamento-medio-e2:hover{
      background-color: #141811;
    }

    #botao-espacamento-medio{
      width: 20%;
      height: 25%;
      font-size: 140%;
      font-family: 'Inter';
      border-radius: 30px;
      background: rgb(37, 33, 19);
      border: 1px solid white;
      color: white;
    }



    .titulo-container2-e{
      display: grid;
      justify-content: center;
      align-content: center;
      height: 10vh;
      background-color: #a89d7d;
      transition: background-color 0.5s ease;
    }

    .titulo-container2-e:hover{
      background-color: #21271b;
    }

    .titulo-container2-e h2{
      
      font-family: 'Julius Sans One';
      font-size: 190%;
      color: #5e5333; 
      transition: color 2s ease;
    }

    .titulo-container2-e  h2:hover{
      color: white;
    }


    .titulo-container2{
      display: grid;
      justify-content: center;
      align-content: center;
      height: 10vh;

    }

    .titulo-container2 h2{
      font-family: 'Julius Sans One';
      font-size: 190%;
    }

/* CARDS */


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0; /* Removido o espaçamento entre os itens */
}


.item {
  flex: 1 1 300px;
  position: relative;
  overflow: hidden;
}

.item:hover .image {
  transform: scale(1.1);
}

.image {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;

}


.buttons {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.btn {
  background-color: #47412d4b;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}


.btn-compra {
  margin-right: 10px;
}

.btn-carrinho {
  margin-left: 10px;
  padding: 10px; /* Ajustando o padding para acomodar o ícone */
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-carrinho img {
  vertical-align: middle; /* Alinha verticalmente a imagem no botão */
}



@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

:root {
  --color: #47412d;
  --transition-time: 0.45s;
}


.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.card1 {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-image: url('../../IMG/velas2.JPG');
  background-size: cover;
  height: 20em;
  width: 18em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 1px solid #a19a86;
  text-decoration: none;
}

#cd1{
    background-image: url('../../IMG/velas2.JPG');
}

#cd2{
    background-image: url('../../IMG/velas-metade.jpg');
}

#cd3{
    background-image: url('../../IMG/velas6-metade.jpg');
}

#cd4{
    background-image: url('../../IMG/velas3-metade-qualidade.jpg');
}

#cd5{
    background-image: url('../../IMG/velas1.JPG');
}

#cd6{
    background-image: url('../../IMG/velas4.JPG');
}

#cd7{
    background-image: url('../../IMG/velas5-metade-qualidade.jpg');
}

#cd8{
    background-image: url('../../IMG/velas6-metade.jpg');
}

#cd9{
    background-image: url('../../IMG/velas2-metade-qualidade.jpg');
}


.card1:hover {
  transform: rotate(0);
}

.card1 h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card1 p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card1 .tags {
  display: flex;
}

.card1 .tags .tag {
  font-size: 0.75em;
  background: #47412d;
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card1:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card1 .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card1:before, .card1:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card1:before {
  background: none;
  width: 250%;
  height: 250%;
}

.card1:after {
  background: rgba(0, 0, 0, 0.1);
  width: 200%;
  height: 200%;
}

.card1:hover {
  color: var(--color);
}

.card1:hover:before, .card1:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}



/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }

}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card1 {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
  
}

/* FIM CARDS NAO SUPERIMPORTANTES */
  .cards-wrapper{
    padding: 0;
  }

  .card1 {
    font-family: 'Heebo';
    --bg-filter-opacity: 0.5;
    background-image: url('../../IMG/velas2.JPG');
    background-size: cover;
    height: 20em;
    width: 15em;
    font-size: 1.5em;
    color: white;
    border-radius: 1em;
    padding: 1em;
    /*margin: 2em;*/
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    transition: all, var(--transition-time);
    position: relative;
    overflow: hidden;
    border: 1px solid #a19a86;
    text-decoration: none;
    width: 400px;
    height: 500px;
  }
  
  #cd1{
      background-image: url('../../IMG/velas2.JPG');
  }
  
  #cd2{
      background-image: url('../../IMG/velas5-metade-qualidade.jpg');
  }
  
  #cd3{
      background-image: url('../../IMG/velas6-metade.jpg');
  }
  
  #cd4{
      background-image: url('../../IMG/velas3-metade-qualidade.jpg');
  }
  
  #cd5{
      background-image: url('../../IMG/velas1.JPG');
  }
  
  #cd6{
      background-image: url('../../IMG/velas4.JPG');
  }
  
  #cd7{
      background-image: url('../../IMG/velas5-metade-qualidade.jpg');
  }
  
  #cd8{
      background-image: url('../../IMG/velas6-metade.jpg');
  }
  
  #cd9{
      background-image: url('../../IMG/velas2-metade-qualidade.jpg');
      margin-bottom: 50px;
  }
  
  .footer-section p, .footer-section h3, .footer-section .footer-social-icon{
    margin: 20px;
  } 

  .purchase-info{
}


#botao-comprar-principal{
}


#btn-carrinho-principal{
  margin-top: 20px;
  justify-self: center;
  height: 60px;
}


.social-links{
  display: flex;
  align-items: center;
}
.social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 32px;
  color: #47412d;
  border: 1px solid #47412d;
  margin: 0 0.5rem;
  border-radius: 10px;
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.5s ease;
  font-size: 9px;
  justify-self: center;
}

.espacamento-medio-e{
  height: 50vh;
  background-color: #403924;
  color: white;
  display: grid;
  align-items: center;
  justify-content: space-evenly;
}

.espacamento-medio-e button{
  height: 50%;
  width: 120%;
  border-radius: 40px;
  border: none;
  font-family: 'Inter';
  font-size: 140%;
  background: none;
  border: 1px solid white;
  color: white;
  justify-self: center;
  transition: background-color 1s ease;
}

.espacamento-medio-e button:hover{
  background-color: #3a362b;
}



.titulo-container2-e{
  display: grid;
  justify-content: center;
  align-content: center;
  height: 10vh;
}

.titulo-container2-e h2{
  
  font-family: 'Julius Sans One';
  font-size: 120%;
  color: #403924; 
}

#botao-espacamento-medio{
  display: none;
}

#noneResp{
  display: none;
}

.card1 h1{
  font-size: 100%;
}

.footer-content {
  position: relative;
  z-index: 2;
  padding-left: 0px;
  }


  .footer-content ul{
    padding-left: 40px;
  }

  .footer-content h3{
    padding-left: 20px;
  }


  .product-detail h2{
    text-transform: capitalize;
    color: #262214;
    padding-bottom: 0.6rem;
    font-size: 100%;
}















@media screen and (max-width: 768px){
  .container{
    margin: 0;
  }


}

/*Start Global*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
}
body.hide-scroll::-webkit-scrollbar {
  display: none;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
}


.a-CTA {
  border-bottom: 2px solid #403924;
  padding-bottom: 4px;
  letter-spacing: 1.5px;
  font-size: 18px;
}
/*End Global*/

/*Start Mutual*/

.navigation-bar{
  padding-left: 150px;
}
.navigation-bar {
  transition: all .3s ease;
}

p, .a-CTA, input, #header .navigation-bar a, .copyright li, .contact .form form label, .contact .form form button {
  font-family: Cabin, sans-serif;
}
.fa-asterisk, .a-CTA, h2, #header .navigation-bar a:hover, #header nav.active .navigation-bar a:hover, footer .social-media .links a:hover, .copyright .info li a, .copyright .CTA li a:hover {
  color: #403924;
}
#header nav .navigation-bar .underline, #header .text .button button:hover, .contact .form form button:hover, .contact .text i:hover {
  background-color: #403924;
}
#header .navigation-bar ul li, #header .text, .about-us .text, .reservation .text, .menu .box-model, .menu .text, .fixed-image .text, footer, .copyright, .contact .text i {
  text-align: center;
}
#header nav, #header .navigation-bar ul, .about-us, .reservation, .about-us .image-container, .reservation .image-container, .menu, .menu .menu-image-container, footer .contact-container, .copyright ul, .contact {
  display: flex;
}
#header nav .toggle, #header nav .toggle span, #header .navigation-bar ul, .menu .box-model .close, footer .social-media .links a, .copyright .CTA li a {
  transition: .3s;
}
#header, #header nav .toggle span, #header .navigation-bar a, #header .text, #header .text .arrow .left, #header .text .arrow .right, .recipes, .menu .box-image-container, .fixed-image .text, .copyright, .copyright .arrow-up {
  position: relative;
}
#header nav .toggle, #header .navigation-bar .underline, #header .text .arrow .left:after, #header .text .arrow .right:after, #header .svg-down, #header .arrow-down, .recipes .text, .menu .box-model .close, .menu .box-model .arrow .arrow-right,.menu .box-model .arrow .arrow-left, .menu .box-image-container .box-image, .copyright .svg-up {
  position: absolute;
}
.recipes .text, .fixed-image .text, .menu .box-image-container, .menu .box-image-container .box-image {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#header nav, #header .navigation-bar a:hover .underline, #header .navigation-bar li.active .underline, .menu .box-model, .menu .box-image-container, .menu .box-image-container .box-image {
  width: 100%;
}
button, .dots > div, #header nav .toggle, #header .arrow-down, .menu .box-model .close, .menu .box-model .arrow .arrow-right,.menu .box-model .arrow .arrow-left, .menu .menu-image-container .image img, footer .newsletter i, .copyright .arrow-up {
  cursor: pointer;
}
.dots .active, #header nav.active, #header nav.active .toggle.active span, #header nav .toggle span, #header .navigation-bar .underline, #header .text .arrow .left, #header .text .arrow .right, #header .text .button button, .contact form button {
  background-color: #fff;
}
/* COR DO TOGGLE */
h1, h3, #header .navigation-bar a, #header .text span, .menu .box-model .close:hover, footer .text h2, footer .text p, footer .social-media .links a, .contact .text i, .contact .form form button {
  color: #fff;
}
#header nav, #header .navigation-bar.show, #header .navigation-bar a:hover .underline, #header .navigation-bar li.active .underline, #header .text .arrow .left:after, .menu .box-model, .copyright .arrow-up {
  left: 0;
}
#header .text .arrow .left:after, #header .text .arrow .right:after, #header .text span, footer .social-media .links a, footer .newsletter i, .copyright .arrow-up, .contact .text i, .contact .form form label {
  display: inline-block;
}
/*End Mutual*/

/*Start Dots*/
.dots {
  position: fixed;
  top: 50%;
  right: 30px;
  transform: translate(0,-50%);
  z-index: 5;
}
.dots > div  {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  z-index: 20;
  margin-bottom: 10px;
  border: 2px solid #fff;
}
.dots .black {
  border-color: #000;
}
.dots .active.black {
  background-color: #000;
}
/*End Dots*/

/*Start Loader*/
.loader-wrap, .loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.loader-wrap {
  background-color: #403924;
  z-index: 30;
}
.loader-wrap.remove {
  display: none;
}
.loader {
  margin: auto;
  height: 40px;
  width: 80px;
  box-sizing: border-box;
}
.loader .loader-item {
  position: relative;
  float: left;
  height: 40px;
  width: 4px;
  margin: 0 2px;
  background-color: #fff;
}
.loader .loader-item:nth-child(1) {
  -webkit-animation: loader-item-1 2s linear infinite;
  animation: loader-item-1 2s linear infinite;
}
.loader .loader-item:nth-child(2) {
  -webkit-animation: loader-item-2 2s linear infinite;
  animation: loader-item-2 2s linear infinite;
}
.loader .loader-item:nth-child(3) {
  -webkit-animation: loader-item-3 2s linear infinite;
  animation: loader-item-3 2s linear infinite;
}
.loader .loader-item:nth-child(4) {
  -webkit-animation: loader-item-4 2s linear infinite;
  animation: loader-item-4 2s linear infinite;
}
.loader .loader-item:nth-child(5) {
  -webkit-animation: loader-item-5 2s linear infinite;
  animation: loader-item-5 2s linear infinite;
}
.loader .loader-item:nth-child(6) {
  -webkit-animation: loader-item-6 2s linear infinite;
  animation: loader-item-6 2s linear infinite;
}
.loader .loader-item:nth-child(7) {
  -webkit-animation: loader-item-7 2s linear infinite;
  animation: loader-item-7 2s linear infinite;
}
.loader .loader-item:nth-child(8) {
  -webkit-animation: loader-item-8 2s linear infinite;
  animation: loader-item-8 2s linear infinite;
}
.loader .loader-item:nth-child(9) {
  -webkit-animation: loader-item-9 2s linear infinite;
  animation: loader-item-9 2s linear infinite;
}
.loader .loader-item:nth-child(10) {
  -webkit-animation: loader-item-10 2s linear infinite;
  animation: loader-item-10 2s linear infinite;
}
.loader:after {
  content: 'Carregando...';
  font-size: 16px;
  font-family: Arial, serif;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -32px;
  margin: auto;
}
@-webkit-keyframes loader-item-1 {
  1% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  11% {
      -webkit-transform: scaleY(1.4);
      transform: scaleY(1.4);
  }
  21% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
}
@keyframes loader-item-1 {
  1% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  11% {
      -webkit-transform: scaleY(1.4);
      transform: scaleY(1.4);
  }
  21% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
}
@-webkit-keyframes loader-item-2 {
  7% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  17% {
      -webkit-transform: scaleY(1.4);
      transform: scaleY(1.4);
  }
  27% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
}
@keyframes loader-item-2 {
  7% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  17% {
      -webkit-transform: scaleY(1.4);
      transform: scaleY(1.4);
  }
  27% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
}
@-webkit-keyframes loader-item-3 {
  13% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  23% {
      -webkit-transform: scaleY(1.4);
      transform: scaleY(1.4);
  }
  33% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
}
@keyframes loader-item-3 {
  13% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  23% {
      -webkit-transform: scaleY(1.4);
      transform: scaleY(1.4);
  }
  33% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
}
@-webkit-keyframes loader-item-4 {
  19% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  29% {
      -webkit-transform: scaleY(1.4);
      transform: scaleY(1.4);
  }
  39% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
}
@keyframes loader-item-4 {
  19% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  29% {
      -webkit-transform: scaleY(1.4);
      transform: scaleY(1.4);
  }
  39% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
}
@-webkit-keyframes loader-item-5 {
  25% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  35% {
      -webkit-transform: scaleY(1.4);
      transform: scaleY(1.4);
  }
  45% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
}
@keyframes loader-item-5 {
  25% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  35% {
      -webkit-transform: scaleY(1.4);
      transform: scaleY(1.4);
  }
  45% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
}
@-webkit-keyframes loader-item-6 {
  31% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  41% {
      -webkit-transform: scaleY(1.4);
      transform: scaleY(1.4);
  }
  51% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
}
@keyframes loader-item-6 {
  31% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  41% {
      -webkit-transform: scaleY(1.4);
      transform: scaleY(1.4);
  }
  51% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
}
@-webkit-keyframes loader-item-7 {
  37% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  47% {
      -webkit-transform: scaleY(1.4);
      transform: scaleY(1.4);
  }
  57% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
}
@keyframes loader-item-7 {
  37% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  47% {
      -webkit-transform: scaleY(1.4);
      transform: scaleY(1.4);
  }
  57% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
}
@-webkit-keyframes loader-item-8 {
  43% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  53% {
      -webkit-transform: scaleY(1.4);
      transform: scaleY(1.4);
  }
  63% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
}
@keyframes loader-item-8 {
  43% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  53% {
      -webkit-transform: scaleY(1.4);
      transform: scaleY(1.4);
  }
  63% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
}
@-webkit-keyframes loader-item-9 {
  49% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  59% {
      -webkit-transform: scaleY(1.4);
      transform: scaleY(1.4);
  }
  69% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
}
@keyframes loader-item-9 {
  49% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  59% {
      -webkit-transform: scaleY(1.4);
      transform: scaleY(1.4);
  }
  69% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
}
@-webkit-keyframes loader-item-10 {
  55% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  65% {
      -webkit-transform: scaleY(1.4);
      transform: scaleY(1.4);
  }
  75% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
}
@keyframes loader-item-10 {
  55% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  65% {
      -webkit-transform: scaleY(1.4);
      transform: scaleY(1.4);
  }
  75% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
  100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
  }
}
/*End Loader*/

/*Start Home Page*/

/*Start #header*/
#header {
  height: calc(12vh - 22px);
  background-size: cover;
  padding: 20px 70px;
}
#header nav {
  position: fixed;
  top: 0;
  padding: 20px 36px 20px;
  z-index: 20;
  background-color: #241f11ef;
}
#header nav .toggle {
  display: none;
  top: 26px;
  left: 20px;
  background-color: transparent;
  border: none;
  padding: 0;
  z-index: 21;
}
#header nav .toggle:focus {
  outline: none;
}
#header nav.active .toggle span {
  background-color: #000;
}
#header nav .toggle.active {
  left: 32%;
}
#header nav .toggle.active .first {
  top: 16px;
  transform: rotate(-45deg);
}
#header nav .toggle.active .last {
  top: 0;
  transform: rotate(45deg);
}
#header nav .toggle .hide {
  transition: 0s;
  visibility: hidden;
}
#header nav .toggle span {
  display: block;
  width: 30px;
  height: 2px;
  border-radius: 40px;
}
#header nav .toggle span:not(:last-of-type) {
  margin-bottom: 6px;
}
#header nav .logo {
  flex-basis: 56%;
  padding-left: 50px;
}

#header .navigation-bar{
  padding-top: 25px;
}

#header .navigation-bar.show {
  width: 40%;
}
#header .navigation-bar.show a {
  color: #ccc !important;
}
#header .navigation-bar.show a:hover {
  color: #fff !important;
}
#header .navigation-bar ul li {
  flex: 1;
  padding: 0 10px;
}
#header .navigation-bar a {
  text-decoration: none;
  transition: all .5s;
  font-size: 16px;
}
#header nav.active .navigation-bar a {
  color: #000;
}
#header .navigation-bar .underline {
  height: 2px;
  width: 0;
  left: 50%;
  bottom: -4px;
  transition: all .3s;
  display: block;
}
#header .text {
  top: 24%;
}
#header .text h1 {
  margin-bottom: 0;
}
#header .text .arrow .left, #header .text .arrow .right {
  height: 3px;
  width: 100px;
}
#header .text .arrow .left {
  left: -4%;
}
#header .text .arrow .right {
  right: -4%;
}
#header .text .arrow .left:after, #header .text .arrow .right:after {
  content: '';
  border: 10px solid transparent;
  border-left-color: #fff;
  top: -8px;
}
#header .text .arrow .right:after {
  right: 0;
  border-color: transparent #fff transparent transparent;
}
#header .text .arrow .fa-asterisk {
  vertical-align: super;
}
#header .text span {
  font-family: "Source Code Pro", sans-serif;
  font-size: 15px;
  margin-bottom: 12px;
}
#header .text .button button, .contact form button {
  border: none;
  padding: 9px 18px;
  letter-spacing: 2.4px;
  font-size: 12px;
  font-family: source_sans_problack, sans-serif;
  border-radius: 3px;
}
#header .text .button button, .contact form button:focus {
  outline: none;
}
#header .svg-down {
  bottom: 0;
  left: 50%;
  z-index: 5;
  margin-left: -96px;
  margin-bottom: -12px;
  color: #fff;
}
#header .arrow-down {
  width: 70px;
  height: 50px;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  background: url("https://res.cloudinary.com/abdel-rahman-ali/image/upload/v1535988515/arrow-down.png") no-repeat center;
}
/*End #header*/




@media (max-width: 992px) {
  body {
      padding: 0;
  }
  #header {
      height: calc(12vh - 10px);
  }
  #header nav .logo {
      padding-left: 0;
  }
 #header nav{
      background-color: #241f11ef;
  }

  .espaco-navbar{
    height: 5vh;
  }

  #contador{
    display: none;
  }
}

@media (max-width: 768px) {
  #header nav {
      display: block;
      text-align: center;
      left: 0;
      top: 0;
      width: 100%;
      padding-top: 25px;
  }
  #header nav .toggle {
      display: block;
  }
  #header .navigation-bar {
      position: fixed;
      top: 0;
      left: -174px;
      height: 100%;
      background-color: #1f1b11f6;
      overflow: hidden;
      z-index: 20;
      padding: 40px;
  }
  #header .navigation-bar ul {
      display: block;
      padding-top: 40px;
  }
  #header .navigation-bar ul li {
      text-align: left;
      padding: 14px 0;
  }
  footer .contact-container {
      display: block;
  }
  footer .social-media {
      margin-bottom: 40px;
  }


}

@media (max-width: 576px) {
  h3, h1 {
      font-size: 40px;
  }
  h2 {
      font-size:90px
  }
  #header {
      padding: 0;
  }
  #header nav .logo {
      padding-left: 0;
  }
  #header nav .toggle.active {
      left: 36%;
  }
  #header .navigation-bar.show {
      padding: 20px;
      width: 48%;
  }

}
/*End Home Page Responsive*/@media (max-width: 768px) {
  /* Remova a propriedade 'position: fixed;' de #header .navigation-bar */
  #header .navigation-bar {
      /* Deixe apenas 'left: -174px;' sem 'position: fixed;' */
      left: -174px;
      height: 100%;
      background-color: #1f1b11f6;
      overflow: hidden;
      z-index: 20;
      padding: 40px;
  }
}


/* footer */
/*Start Global*/
/*End Global*/

/*Start Mutual*/
footer {
  font-family: Cabin, sans-serif;
}
.fa-asterisk, .a-CTA, h2, header .navigation-bar a:hover, header nav.active .navigation-bar a:hover, footer .social-media .links a:hover, .copyright .info li a, .copyright .CTA li a:hover {
  color: #00a2ff;
}
header nav .navigation-bar .underline, header .text .button button:hover, .contact .form form button:hover, .contact .text i:hover {
  background-color: #403924;
}
header .navigation-bar ul li, header .text, .about-us .text, .reservation .text, .menu .box-model, .menu .text, .fixed-image .text, footer, .copyright, .contact .text i {
  text-align: center;
}
header nav, header .navigation-bar ul, .about-us, .reservation, .about-us .image-container, .reservation .image-container, .menu, .menu .menu-image-container, footer .contact-container, .copyright ul, .contact {
  display: flex;
}
header nav .toggle, header nav .toggle span, header .navigation-bar, header .navigation-bar ul, .menu .box-model .close, footer .social-media .links a, .copyright .CTA li a {
  transition: .3s;
}
header, header nav .toggle span, header .navigation-bar a, header .text, header .text .arrow .left, header .text .arrow .right, .recipes, .menu .box-image-container, .fixed-image .text, .copyright, .copyright .arrow-up {
  position: relative;
}
header nav .toggle, header .navigation-bar .underline, header .text .arrow .left:after, header .text .arrow .right:after, header .svg-down, header .arrow-down, .recipes .text, .menu .box-model .close, .menu .box-model .arrow .arrow-right,.menu .box-model .arrow .arrow-left, .menu .box-image-container .box-image, .copyright .svg-up {
  position: absolute;
}
.recipes .text, .fixed-image .text, .menu .box-image-container, .menu .box-image-container .box-image {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
header nav, header .navigation-bar a:hover .underline, header .navigation-bar li.active .underline, .menu .box-model, .menu .box-image-container, .menu .box-image-container .box-image {
  width: 100%;
}
button, .dots > div, header nav .toggle, header .arrow-down, .menu .box-model .close, .menu .box-model .arrow .arrow-right,.menu .box-model .arrow .arrow-left, .menu .menu-image-container .image img, footer .newsletter i, .copyright .arrow-up {
  cursor: pointer;
}
.dots .active, header nav.active, header nav.active .toggle.active span, header nav .toggle span, header .navigation-bar .underline, header .text .arrow .left, header .text .arrow .right, header .text .button button, .contact form button {
  background-color: #fff;
}
h1, h3, header .navigation-bar a, header .text span, .menu .box-model .close:hover, footer .text h2, footer .text p, footer .social-media .links a, .contact .text i, .contact .form form button {
  color: #fff;
}
header nav, header .navigation-bar.show, header .navigation-bar a:hover .underline, header .navigation-bar li.active .underline, header .text .arrow .left:after, .menu .box-model, .copyright .arrow-up {
  left: 0;
}
header .text .arrow .left:after, header .text .arrow .right:after, header .text span, footer .social-media .links a, footer .newsletter i, .copyright .arrow-up, .contact .text i, .contact .form form label {
  display: inline-block;
}
/*End Mutual*/



/*Start Footer*/
footer {
  background-color: #121212;
  padding: 60px 20px;
}
footer .text {
  max-width: 500px;
  margin: auto;
}
footer .text h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 19px;
  letter-spacing: 1.9px;
  margin-bottom: 25px;
}
footer .text .fa-asterisk {
  font-size: 12px;
}
footer .text p {
  line-height: 27px;
}
footer .contact-container {
  padding: 40px 0;
  max-width: 1000px;
  margin: auto;
}
footer .contact-container > div {
  flex: 1;
}
footer .contact-container h3 {
  font-size: 19px;
  letter-spacing: 1.9px;
}
footer .social-media .links a {
  margin: 0 10px;
  font-size: 25px;
}
footer .newsletter input {
  padding: 10px;
  width: 270px;
  background-color: #eee;
  border: none;
  margin-left: -15px;
}
footer .newsletter i {
  margin-left: -40px;
  vertical-align: middle;
  font-size: 21px;
}
.copyright {
  padding: 15px 40px 30px;
  background-color: #262526;
}
.copyright .svg-up {
  top: 0;
  left: 50%;
  margin-left: -96px;
  margin-top: -50px;
}
.copyright .arrow-up {
  width: 40px;
  height: 30px;
  top: -45px;
  color: #fff;
  line-height: 1.9
}
.copyright ul {
  justify-content: center;
}
.copyright li {
  color: #919191;
  font-size: 14px;
}
.copyright li:not(:last-of-type):after {
  content: '•';
  margin: 10px;
}
.copyright .CTA {
  margin-top: 25px;
}
.copyright .CTA li a {
  color: #919191;
}

/*End Footer*/


/*Start Home Page Responsive*/

@media (max-width: 1200px) {
  .menu, .about-us, .reservation {
      padding: 60px 40px;
  }
  }

@media (max-width: 992px) {
  body {
      padding: 0;
  }
}

@media (max-width: 768px) {

  footer .contact-container {
      display: block;
  }
  footer .social-media {
      margin-bottom: 40px;
  }
  .copyright ul {
      display: block;
      margin-top: -20px;
  }
  .copyright li {
      margin-bottom: 5px;
  }
  .copyright li:not(:last-of-type):after {
      content: '';
  }

}

@media (max-width: 576px) {
}
/*End Home Page Responsive*/

/* fim footer */
#botao-sem-fundo{
  background-color: transparent;
  border: none;
}

.btn a{
  color: white;
  text-decoration: none;
  font-family: 'Julius Sans One';
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #403924; 
  border-radius: 5px;
  transition: background 2s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #262214; 
}